<%- include("./includes/head.ejs") %>
    <div class="form-group">
        <h1>مدیریت کارها</h1>
        <%- include("./includes/form.ejs") %>
            <%- include("./includes/statusbar.ejs") %>
                <%- include("./includes/list.ejs") %>
    </div>
    <%- include("./includes/footer.ejs") %>